<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Treasure Finder</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/lz-string@1.5/libs/lz-string.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main id="app" style="display: none">
      <p class="mono main">
        Latitude: {{ locationAvailable ? latitudeText : '???' }}<br>
        Longitude: {{ locationAvailable ? longitudeText : '???' }}<br>
        Precision: {{ locationAvailable ? precisionText : '???' }}
      </p>
      <hr>
      <br>
      <div class="main">
        <template v-for="(point, i) in points">
          <p class="point" v-bind:style="style(point)">
          • <span v-if="point.name" v-html="point.name"></span><span v-else>Point #{{i + 1}}</span>: {{ distanceText(distanceToPoint(point)) }}
          </span>
          <p
            class="secret"
            v-if="debug || (locationAvailable && distanceToPoint(point) <= minimum)"
            v-html="point.treasure"
          ></p>
        </template>
      </div>
      <div v-if="debug">
        <br>
        <hr>
        <h1>Treasure finder</h1>
        <textarea v-model="debugData" rows="12"></textarea>
        <a v-if="debugData.length" :href="debugUrl" target="_blank">Output link</a>
      </div>
    </main>
  </body>
</html>
